POSTGRES_DB=nutrimatch_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=

EMAIL_FROM=
EMAIL_PASSWORD=
EMAIL_SMTP=
EMAIL_PORT=
